<nz-table #nzTable
          nzShowSizeChanger
          [nzFrontPagination]="!tableService.url"
          [nzData]="tableService.dataSet"
          [nzLoading]="tableService.loading"
          [nzTotal]="tableService.total"
          [(nzPageIndex)]="tableService.current"
          [(nzPageSize)]="tableService.pageSize"
          (nzPageIndexChange)="tableService.search()"
          (nzPageSizeChange)="tableService.search(true)"
          [nzSize]="tableService.tableSize"
          [nzShowQuickJumper]="true"
          [nzPageSizeOptions]="[5, 10, 20]"
>
  <!-- 切换页码 (nzCurrentPageDataChange)="tableService.currentPageDataChange($event)"-->
  <thead>
  <tr>
    <th
      *ngIf="tableService.isCheckbox"
      nzShowCheckbox
      [(nzChecked)]="tableService.allChecked"
      [nzIndeterminate]="tableService.indeterminate"
      (nzCheckedChange)=" tableService.checkAll($event)"></th>
    <th *ngIf="tableService.isRadio"></th>
    <th *ngFor="let col of tableService.columns"
        [nzShowSort]="col.sortable"
        [nzSortKey]="col.field"
        [(nzSort)]="tableService.sortMap[col.field || col.sortField]"
        (nzSortChange)="tableService.sort(col.field || col.sortField,$event)"
        [nzShowFilter]="col.filterable"
        [nzFilterMultiple]="!col.filterNotMultiple"
        [nzFilters]="col.filterArray"
        (nzFilterChange)="tableService.filterChange(col,$event)"
    >
      <ng-container *ngIf="col.title">
        <span class="dib va-2" [class.w4rem]="col.textLimit" [class.va-11]="col.textLimit"  [class.tac]="col.textLimit">
          {{col.title}}
        </span>
      </ng-container>
      <!--用户列表中：全部展开与全部收起-->
      <ng-container *ngIf="col.specialHead === 'expand'">
        <span class="cp" (click)="tableService.changeSpecialHeadType()">
          <ng-container *ngIf="tableService.specialHeadType">
            全部展开<i class="icon-uk-openupall f10 ml5"></i>
          </ng-container>
          <ng-container *ngIf="!tableService.specialHeadType">
            全部收起<i class="icon-uk-tuckupall f10 ml5"></i>
          </ng-container>
        </span>
      </ng-container>
      <!--根据不同的操作类型显示不同的head-->
      <ng-container *ngIf="col.operateType"></ng-container>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of nzTable.data; index as i">
    <tr (click)="tableService.handleClickRadio(data)"
        [class.ant-table-row-hover]="data.isSelected"
        [class.border-bottom-none]="data.isExpand"
        *ngIf="data.status !== -1"
    >
      <!--控制checkbox的显示-->
      <td *ngIf="tableService.isCheckbox"
          nzShowCheckbox
          [(nzChecked)]="data.checked"
          (nzCheckedChange)="tableService.refreshStatus($event)"></td>
      <!--控制radio的显示-->
      <td *ngIf="tableService.isRadio">
        <label nz-radio [(ngModel)]="data.isSelected"></label>
      </td>
      <!--控制每一个cell的显示-->
      <td *ngFor="let col of columns"
          [ngStyle]="tableService.getTdStyle(col)">
        <app-table-cell [tableService]="tableService"
                             [eventChange]="eventChange"
                             [tableId]="tableId"
                             [data]="data"
                             [col]="col"></app-table-cell>
      </td>
    </tr>
    <!--是否有被收起的行-->
    <tr *ngFor="let _data of data.subordinatelist; index as _i; last as la;" class="no-hover text-aux"
        [class.border-bottom-none]="!la"
        [hidden]="!(tableService.hasSpecialRows && data.isExpand)"
    >
      <td *ngIf="tableService.isCheckbox"></td>
      <td *ngFor="let col of columns"
          [ngStyle]="tableService.getTdStyle(col)">
        <!--使用formatter函数渲染-->
        <!--展开项的字段需要隐藏-->
        <ng-container *ngIf="col.expandHide"></ng-container>
        <ng-container *ngIf="!col.expandHide">
          <ng-container *ngIf="col.formatter">
            <span *ngIf="isFormatText(col)">{{getFormatText(col, _data)}}</span>
          </ng-container>
          <!--使用field渲染-->
          <ng-container *ngIf="!col.formatter && col.field">
            <span>{{_data[col.field]}}</span>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-container>
  </tbody>
</nz-table>
