<!--企业基本信息 显示-->
<div class="common-page">
  <div class="f22">企业基本信息</div>
  <div class="mt40">
    <app-form
      [formConfig]="formConfig"
      [(form)]="form"
      [formId]="formId"
      [formType]="op"
    ></app-form>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="tac">
        <button nz-button [nzType]="'primary'" (click)="handleOk()">{{op === 'view' ? '编辑' : '保存'}}
        </button>
        <button nz-button *ngIf="op==='edit'">取消</button>
      </div>
    </div>
  </div>
</div>
<!--企业基本信息 录入-->

