<div class="main js-main">
  <div class="main-box">
    <div nz-row class="main-header-info">
      <div nz-col [nzSpan]="12">
        <div class="ml50">张三 您好，欢迎登录</div>
      </div>
      <div nz-col [nzSpan]="12" class="tar">
        <a (click)="logout()">返回</a>
        <a class="ml20 mr50" (click)="logout()">退出</a>
      </div>
    </div>
    <!--左侧菜单-->
    <div class="menu-box" appScrollbar>
      <ul nz-menu class="menu-list" [nzMode]="'inline'">
        <ng-container *ngFor="let item of menuList">

          <li class="menu-first" *ngIf="item.children" nz-submenu [nzOpen]="item.isExpand" [title]="item.label">
              <span title>
                <i class="menu-i anticon" [ngClass]="item.iconCls" [title]="item.label"></i>
                <span class="nav-text">{{item.label}}</span>
              </span>
            <ul>
              <!--暂时只支持二级菜单，可以根据需要增加菜单级数-->
              <ng-container *ngFor="let _item of item.children">
                <li class="menu-second" [title]="_item.label" *ngIf="!_item.children" nz-menu-item [nzSelected]="_item.isActive" (click)="onClickItem(_item)">
                  <span class="nav-text">{{_item.label}}</span>
                </li>
              </ng-container>
            </ul>
          </li>
          <li class="menu-first" *ngIf="!item.children" nz-menu-item [nzSelected]="item.isActive"
              (click)="onClickItem(item)" [title]="item.label">
                <span class="flex-box">
                  <i class="menu-i anticon" [ngClass]="item.iconCls" [title]="item.label"></i>
                  <span class="nav-text">{{item.label}}</span>
                </span>
          </li>
        </ng-container>
      </ul>
    </div>
    <!--内容部分-->
    <div class="main-content">
      <nz-breadcrumb class="main-breadcrumb" *ngIf="currentItem.code !== 'home'">
        <nz-breadcrumb-item>首页</nz-breadcrumb-item>
        <nz-breadcrumb-item *ngFor="let bread of breadcrumbList">{{bread}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
