<div class="main">
  <div class="main-box">
    <!--左侧菜单-->
    <div class="menu-box">
      <ul nz-menu class="menu-list">
        <ng-container *ngFor="let item of menuList">
          <li class="menu-first" *ngIf="!item.children" nz-menu-item [nzSelected]="item.isActive"
              (click)="onClickItem(item)">
                <span class="flex-box">
                  <i class="menu-i anticon" [ngClass]="item.iconCls" [title]="item.label"></i>
                  <span class="nav-text">{{item.label}}</span>
                  <i class="anticon anticon-right main-icon-right" *ngIf="item.isActive"></i>
                </span>
          </li>
        </ng-container>
      </ul>
    </div>
    <!--内容部分-->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
