<div class="common-page">
  <div class="f22">工作汇总</div>
  <div class="mt20 summary-content">
    <div class="common-panel">
      <div class="header">
        分类问题统计图
      </div>
      <div class="chart summary-question-classify" id="summary-question-classify"></div>
    </div>
    <div class="common-panel mt20 summary-question-classify-rate">
      <div class="header">
        分类问题解决率
      </div>
      <div class="chart">
        <div class="item" *ngFor="let chart of chartList; index as i" id="{{'rate-' + i}}"></div>
      </div>
    </div>
  </div>
</div>
