@import "../../../../assets/less/vars";
.summary-content {
  .header {
    padding: 15px 20px;
    font-size: 20px;
    border-bottom: 1px solid @primary-color;
  }
  .chart {
    &.summary-question-classify {
      height: 400px;
    }
    .item {
      height: 200px;
      width: 200px;
      float: left;
      margin-right: 50px;
      margin-top: 40px
    }
  }
  .summary-question-classify-rate {
    height: 600px;
  }
}
