<div class="landing-wrap">
  <div class="landing-side">
    <span (click)="changeRoute('home')"><span class="shape-diamond mr8"></span>首页</span>
    <span (click)="changeRoute('policy')"><span class="shape-diamond mr8"></span>政策通知</span>
    <span (click)="changeRoute('service')"><span class="shape-diamond mr8"></span>企业服务</span>
    <span (click)="changeRoute('finance')"><span class="shape-diamond mr8"></span>金融专项</span>
  </div>
  <div class="landing-bg">
    <div class="landing-header" nz-row>
      <div nz-col [nzSpan]="18" class="title">临沂市政企直通信息化平台</div>
      <div nz-col [nzSpan]="6" class="login-part">您好，<a (click)="popLogin()">请登录</a></div>
    </div>
    <div class="landing-notify"></div>
    <div class="landing-title">
      <div class="title-1">
        <span>创新</span>
        <span>强企</span>
        <span>解难</span>
      </div>
      <div class="title-2">
        <span>双创双服活动</span>
      </div>
      <div class="title-3">
        <span>创新创业平台培育</span>
        <span>帮扶重点企业重点项目</span>
      </div>
    </div>
    <div class="landing-ask" (click)="changeRoute('ask')">我要提问</div>
  </div>
</div>
