<div class="common-page">
  <div class="f22">企业账户列表</div>
  <div nz-row class="mt20" [nzGutter]="10">
    <div nz-col [nzSpan]="5" class="flex-box">
      <span class="fb100">选择区划：</span>
      <nz-select nzPlaceHolder="请选择区划" class="w" [(ngModel)]="params.district">
        <ng-container *ngFor="let option of typeList1">
          <nz-option [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5" class="flex-box">
      <span class="fb150"><span class="cti">选择</span>选择街道：</span>
      <nz-select nzPlaceHolder="请选择街道" class="w" [(ngModel)]="params.street">
        <ng-container *ngFor="let option of typeList2">
          <nz-option [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="4" class="flex-box">
      <span class="fb150">账户是否创建：</span>
      <nz-select nzPlaceHolder="请选择" class="w" [(ngModel)]="params.isaccountcreated">
        <ng-container *ngFor="let option of baseList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="4" class="flex-box">
      <span class="fb150">信息是否确认：</span>
      <nz-select nzPlaceHolder="请选择" class="w" [(ngModel)]="params.isinfoconfirmed">
        <ng-container *ngFor="let option of baseList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="3">
      <button class="w" nz-button [nzType]="'primary'">导出</button>
    </div>
    <div nz-col [nzSpan]="3">
      <button class="w" nz-button (click)="popImportFile()">导入</button>
    </div>
  </div>
  <div nz-row class="mt10" [nzGutter]="10">
    <div nz-col [nzSpan]="5" class="flex-box">
      <span class="fb100">企业名称：</span>
      <input class="w" nz-input type="text" [(ngModel)]="params.name">
    </div>
    <div nz-col [nzSpan]="5" class="flex-box">
      <span class="fb150">组织机构代码：</span>
      <input class="w" nz-input type="text" [(ngModel)]="params.orgcode">
    </div>
    <div nz-col [nzSpan]="8">
      <nz-range-picker class="w240" [(ngModel)]="dateRange"></nz-range-picker>
    </div>
    <div nz-col [nzSpan]="3">
      <button class="w" nz-button [nzType]="'primary'" (click)="search()">查询</button>
    </div>
    <div nz-col [nzSpan]="3">
      <button class="w" nz-button (click)="createAccount()">创建账号</button>
    </div>
  </div>
  <div class="mt20 x-small-table">
    <app-table
      [url]="url"
      [columns]="columns"
      [tableId]="tableId"
      [isSortCol]="true"
      (refreshStatusChange)="refreshStatusChange($event)"
      (eventChange)="eventChange($event)"
    ></app-table>
  </div>
</div>
