<div class="common-page">
  <div class="common-header-box">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        企业基本信息
      </div>
    </div>
  </div>
  <div class="mt20">
    <div>
      <form nz-form>
        <div nz-row [nzGutter]="30">
          <div nz-col [nzSpan]="12">
            <nz-form-item nzFlex>
              <nz-form-label [nzSpan]="8">企业名称</nz-form-label>
              <nz-form-control [nzSpan]="16">
                <span></span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item nzFlex>
              <nz-form-label [nzSpan]="8">组织机构代码</nz-form-label>
              <nz-form-control [nzSpan]="16">
                <span></span>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-question-detail-content></app-question-detail-content>
</div>
