<div class="common-page">
  <div class="f22">信息管理</div>
  <div class="mt20" nz-row [nzGutter]="10">
    <div nz-col [nzSpan]="10" class="flex-box">
      <span class="fb100">日期范围：</span>
      <nz-range-picker class="w" [(ngModel)]="dateRange"></nz-range-picker>
    </div>
    <div nz-col [nzSpan]="5" class="flex-box">
      <span class="fb100">发布状态：</span>
      <nz-select class="w" [(ngModel)]="params.status">
        <ng-container *ngFor="let option of statusList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5" class="flex-box">
      <span class="fb100">信息分类：</span>
      <nz-select class="w" [(ngModel)]="params.indextype">
        <ng-container *ngFor="let option of infoTypeList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="2">
      <button class="w" nz-button [nzType]="'primary'" (click)="search()">查询</button>
    </div>
    <div nz-col [nzSpan]="2">
      <button class="w" nz-button [nzType]="'primary'" (click)="switchRoute()">新建工作动态</button>
    </div>
  </div>
  <div class="mt20">
    <app-table
      [url]="url"
      [params]="params"
      [columns]="columns"
      [tableId]="tableId"
      [isSortCol]="true"
      [isCheckbox]="false"
      (eventChange)="eventChange($event)"
    ></app-table>

  </div>
</div>
