<div class="common-page">
  <div class="f22">新建项目</div>
  <form class="mt40" nz-form [formGroup]="form">
    <div nz-row [nzGutter]="30">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>项目单位及名称</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f2">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>建设年限</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f3">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="30">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>总投资额</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f2">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>企业性质</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f3">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="30">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>来源地</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f2">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>五百强</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f3">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="30">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>地区</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f1">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>对应总投资额的总占地（亩）</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f2">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="30">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>年销售收入（亿元）</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f3">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>年税金（亿元）</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f2">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="30">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>推进责任人</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f3">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>重点级别</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f2">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="30">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>项目阶段</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f3">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7" nzRequired>计划投产时间</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input placeholder="请输入" formControlName="f3">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>
