<div class="common-page">
  <div class="common-header-box">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        问题汇总
      </div>
      <div nz-col [nzSpan]="12" class="tar">
        <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="toQuestion()">历史问题查看</button>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="12">
      <div class="summary-container">
        <div class="summary-box left">
          <div class="title">已提交</div>
          <div class="num">63</div>
          <div class="unit">件</div>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="12">
      <div class="summary-container">
        <div class="summary-box right">
          <div class="title">已回复</div>
          <div class="num">14</div>
          <div class="unit">件</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="common-page">
  <div class="common-header-box">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <i class="anticon anticon-question-circle-o"></i>最新问题
      </div>
      <div nz-col [nzSpan]="12" class="tar">
        <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="toAsk()">我要提问</button>
      </div>
    </div>
  </div>
  <div class="home-question">
    <div class="mt20">
      <div class="head">
        <img src="../../../../assets/images/head-a.jpg" width="60" height="60" alt="">
      </div>
      <div class="comment-box">
        <div nz-row>
          <div nz-col [nzSpan]="12"><div class="text-second">最新问题：</div></div>
          <div nz-col [nzSpan]="12" class="tar"><div class="text-second">2018-05-17 09:20:20</div></div>
        </div>
        <div class="content mt10">
          问题内容
        </div>
        <div class="mt10">
          <span class="text-second">填报人姓名：<span class="text-main">张三</span></span>
          <span class="text-second ml30">职务：<span class="text-main">总经理</span></span>
          <span class="text-second ml30">手机：<span class="text-main">13533223323</span></span>
          <span class="text-second ml30">固定电话：<span class="text-main">01089903233</span></span>
        </div>
      </div>
    </div>
    <div class="handle mt20">当前处理机构：站信业务部</div>
    <div class="replay mt20">
      <div class="head"><img src="../../../../assets/images/head-b.jpg" width="60" height="60" alt=""></div>
      <div class="comment-box">
        <div class="text-second">的回复：</div>
        <div>具体负责人：李四。移交农行处理</div>
        <div class="text-second">2018-05-18 09:09:09</div>
      </div>
    </div>
  </div>

</div>
