<div class="common-page">
  <div class="f22">企业详细信息</div>
  <div class="mt20">
    <div class="header-box">
      <nz-tag [nzColor]="'#f50'">未开通</nz-tag>
      <span class="title">河北永通电子科技有限公司</span>
    </div>
    <div class="content-box company-detail">
      <div class="title">通信设备零售</div>
      <div class="box">
        <table>
          <tr>
            <td>组织机构代码</td>
            <td>72933434</td>
          </tr>
          <tr>
            <td>属地</td>
            <td>广阳区</td>
          </tr>
          <tr>
            <td>详细地址</td>
            <td>河北省广阳区</td>
          </tr>
          <tr>
            <td>注册地址</td>
            <td>河北省广阳区廊坊市广阳区爱民东道80号人民广场A座23层</td>
          </tr>
          <tr>
            <td>主要业务活动</td>
            <td>手机零售</td>
          </tr>
          <tr>
            <td>行业代码</td>
            <td>7832</td>
          </tr>
          <tr>
            <td>单位负责人</td>
            <td>张三（13522222222）</td>
          </tr>
          <tr>
            <td>联系人</td>
            <td>李四（13533333333）</td>
          </tr>
        </table>
        <!--<div class="divider"></div>-->
        <!--<div>-->
        <!--<span>单位负责人：张三（13522222222）</span>-->
        <!--<span>联系人：李四（13533333333）</span>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <!--<div class="common-gov-tabs mt20">-->
    <!--<nz-tabset [nzType]="'card'">-->
      <!--<nz-tab [nzTitle]="'企业信息'">-->
        <!--<div class="tab-content">-->
          <!--<div class="header-box">-->
            <!--<nz-tag [nzColor]="'#f50'">未开通</nz-tag>-->
            <!--<span class="title">河北永通电子科技有限公司</span>-->
          <!--</div>-->
          <!--<div class="content-box company-detail">-->
            <!--<div class="title">通信设备零售</div>-->
            <!--<div class="box">-->
              <!--<table>-->
                <!--<tr>-->
                  <!--<td>组织机构代码</td>-->
                  <!--<td>72933434</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>属地</td>-->
                  <!--<td>广阳区</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>详细地址</td>-->
                  <!--<td>河北省广阳区</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>注册地址</td>-->
                  <!--<td>河北省广阳区廊坊市广阳区爱民东道80号人民广场A座23层</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>主要业务活动</td>-->
                  <!--<td>手机零售</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>行业代码</td>-->
                  <!--<td>7832</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>单位负责人</td>-->
                  <!--<td>张三（13522222222）</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>联系人</td>-->
                  <!--<td>李四（13533333333）</td>-->
                <!--</tr>-->
              <!--</table>-->
              <!--&lt;!&ndash;<div class="divider"></div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div>&ndash;&gt;-->
                <!--&lt;!&ndash;<span>单位负责人：张三（13522222222）</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span>联系人：李四（13533333333）</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nz-tab>-->
      <!--<nz-tab [nzTitle]="'问题清单'">-->
        <!--<div class="tab-content">-->
        <!--</div>-->
      <!--</nz-tab>-->
      <!--<nz-tab [nzTitle]="'创新情况'">-->
        <!--<div class="tab-content">-->
        <!--</div>-->
      <!--</nz-tab>-->
    <!--</nz-tabset>-->
  <!--</div>-->
</div>
