<div class="common-page">
  <div class="f22">组织机构管理</div>
  <div nz-row class="mt20" [nzGutter]="20">
    <div nz-col [nzSpan]="6" class="flex-box">
      <span class="fb100">组织名称：</span>
      <input class="w" nz-input type="text" [(ngModel)]="params.groupname">
    </div>
    <div nz-col [nzSpan]="6" class="flex-box">
      <span class="fb100">机构名称：</span>
      <input class="w" nz-input type="text" [(ngModel)]="params.orgname">
    </div>
    <div nz-col [nzSpan]="6" class="flex-box">
      <span class="fb100">类型：</span>
      <nz-select nzPlaceHolder="请选择类型" class="w" [(ngModel)]="params.type">
        <ng-container *ngFor="let option of typeList">
          <nz-option [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="6">
      <div nz-row [nzGutter]="10">
        <div nz-col [nzSpan]="6">
          <button class="w" nz-button [nzType]="'primary'" (click)="search()">查询</button>
        </div>
        <div nz-col [nzSpan]="6">
          <button class="w" nz-button (click)="reset()">清空</button>
        </div>
        <div nz-col [nzSpan]="12">
          <button class="w" nz-button [nzType]="'primary'" (click)="switchRoute()">新建组织机构</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt20">
    <app-table
      [url]="url"
      [params]="params"
      [columns]="columns"
      [tableId]="tableId"
      [isSortCol]="true"
      [isCheckbox]="false"
      (eventChange)="eventChange($event)"
    ></app-table>
  </div>
</div>
