<div class="common-page">
  <div class="f22">企业分类花名册</div>
  <div class="mt20" nz-row [nzGutter]="10">
    <div nz-col [nzSpan]="3">
      <nz-select nzPlaceHolder="最近一周" class="w" [(ngModel)]="params.cmptime">
        <ng-container *ngFor="let option of timeList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="3">
      <nz-select nzPlaceHolder="企业分类" class="w" [(ngModel)]="params.cmptype">
        <ng-container *ngFor="let option of typeList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="3">
      <nz-select nzPlaceHolder="企业分级" class="w" [(ngModel)]="params.cmplevel">
        <ng-container *ngFor="let option of levelList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-select nzPlaceHolder="选择区县" class="w" [(ngModel)]="params.district">
        <ng-container *ngFor="let option of districtList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-select nzPlaceHolder="选择乡镇" class="w" [(ngModel)]="params.county">
        <ng-container *ngFor="let option of countyList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzOffset]="1" [nzSpan]="2">
      <button class="w" nz-button [nzType]="'primary'" (click)="search()">查询</button>
    </div>
    <div nz-col [nzSpan]="2">
      <button class="w" nz-button [nzType]="'primary'">导出</button>
    </div>
  </div>
  <div class="mt20">
    <app-roster-table></app-roster-table>
  </div>
</div>
