<span class="flex-box jcc">
  <!--使用formatter函数渲染-->
  <ng-container *ngIf="col.formatter">
    <!--使用columns中的formatter函数的返回值渲染-->
    <span *ngIf="isNotString(col.formatter)">{{getFormatText(col, data)}}</span>
    <!--使用组件进行渲染 —— 需要使用html辅助渲染的值-->
    <app-table-formatter *ngIf="!isNotString(col.formatter)" [col]="col" [data]="data"></app-table-formatter>
  </ng-container>
  <!--使用非formatter渲染-->
  <ng-container *ngIf="!col.formatter">
    <!--使用field渲染 —— 大多数的通用情况-->
    <ng-container *ngIf="col.field">
      {{data[col.field]}}
    </ng-container>
    <!--通过event渲染 通用事件-->
    <ng-container *ngIf="col.event">
      <!--有多个事件-->
      <ng-container *ngIf="isNotString(col.event)">
        <ng-container *ngFor="let ev of col.event; index as evi">
          <!--不是string则说明该字段需要条件进行判断是否显示-->
          <ng-container *ngIf="isNotString(col.text[evi])">
            <!--todo 此处visible的值是data中的某个field，需要根据该值进行判断，是否显示该行-->
            <ng-container *ngIf="col.text[evi].visible">
              <a class="cell-event" (click)="emitEvent(col, data, ev)">{{col.text[evi].value}}</a>
            </ng-container>
          </ng-container>
          <!--是字符串，直接显示-->
          <ng-container *ngIf="!isNotString(col.text[evi])">
            <a class="cell-event" (click)="emitEvent(col, data, ev)">{{col.text[evi]}}</a>
          </ng-container>
        </ng-container>
      </ng-container>
      <!--单个事件-->
      <ng-container *ngIf="!isNotString(col.event)">
        <a class="cell-event" (click)="emitEvent(col, data)">{{col.text}}</a>
      </ng-container>
    </ng-container>
  </ng-container>
</span>
