<div class="common-page">
  <div class="f22">问题清单</div>
  <div class="mt20" nz-row [nzGutter]="10">
    <div nz-col [nzSpan]="3">
      <nz-select nzPlaceHolder="问题分类" class="w" [(ngModel)]="params.type">
        <ng-container *ngFor="let option of typeList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="3">
      <nz-select nzPlaceHolder="状态" class="w" [(ngModel)]="params.status">
        <ng-container *ngFor="let option of statusList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="3">
      <nz-select nzPlaceHolder="区" class="w" [(ngModel)]="params.district">
        <ng-container *ngFor="let option of districtList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-select nzPlaceHolder="处理部门" class="w" [(ngModel)]="params.dept">
        <ng-container *ngFor="let option of deptList">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-range-picker class="w" [(ngModel)]="dateRange"></nz-range-picker>
    </div>
    <div nz-col [nzSpan]="2">
      <button class="w" nz-button [nzType]="'primary'" (click)="search()">查询</button>
    </div>
    <div nz-col [nzSpan]="2">
      <button class="w" nz-button [nzType]="'primary'">导出</button>
    </div>
  </div>
  <div class="tar mt10">
    <nz-badge nzStatus="warning" nzText="办理超过7天"></nz-badge>
    <nz-badge class="ml20" nzStatus="error" nzText="办理超过15天"></nz-badge>
  </div>
  <div class="mt20">
    <app-table
      [url]="url"
      [params]="params"
      [columns]="columns"
      [tableId]="tableId"
      [isSortCol]="true"
      [isCheckbox]="false"
      (eventChange)="eventChange($event)"
    ></app-table>
  </div>
</div>
