<div class="common-header-box mt20">
  <div nz-row>
    <div nz-col [nzSpan]="12">
      问题信息
    </div>
  </div>
</div>
<div class="home-question mt20">
  <div class="mt20">
    <div class="head">
      <img src="../../../../../assets/images/head-a.jpg" width="60" height="60" alt="">
    </div>
    <div class="comment-box">
      <div class="content mt10">
        有问题需要解决，有关公共服务类
      </div>
      <div class="mt10">
        <span class="text-second">填报人姓名：<span class="text-main">张三</span></span>
        <span class="text-second ml30">填报人职务：<span class="text-main">总经理</span></span>
        <span class="text-second ml30">填报人手机：<span class="text-main">13533223323</span></span>
        <span class="text-second ml30">填报人固定电话：<span class="text-main">01089903233</span></span>
      </div>
    </div>
  </div>
</div>
<div class="common-header-box mt20">
  <div nz-row>
    <div nz-col [nzSpan]="12">
      回复信息
    </div>
  </div>
</div>
<div class="mt20">
  回复内容
</div>
