<div class="common-panel f22">
  <span class="text-title">待处理问题数：<span class="text-theme">3</span></span>
</div>
<div class="common-panel mt20">
  <div class="f22 text-title">企业数量信息统计</div>
  <div class="home-summary flex-box mt20">
    <span class="summary-item">
      <span class="text-secondary">盈利企业数</span>
      <span class="text-title f26">334</span>
    </span>
    <span class="summary-item">
      <span class="text-secondary">微盈利企业数</span>
      <span class="text-title f26">35</span>
    </span>
    <span class="summary-item">
      <span class="text-secondary">亏损企业数</span>
      <span class="text-title f26">142</span>
    </span>
  </div>
</div>
<div class="common-panel mt20">
  <div class="pr">
    <span class="chart-title">问题解决率</span>
    <span class="chart-label">解决率</span>
    <div class="home-chart" id="home-use"></div>
  </div>
  <div class="df pr">
    <div class="flex-col">
      <span class="text-secondary">提交问题件数</span>
      <span class="text-theme f40">102</span>
    </div>
    <div class="home-divider"></div>
    <div class="flex-col">
      <span class="text-secondary">处理问题件数</span>
      <span class="text-theme f40">26</span>
    </div>
  </div>
</div>
<div class="common-panel mt20 home-area">
  <div class="f22 text-title">各区县问题解决率</div>
  <div class="query">
    <nz-dropdown>
      <button nz-button nz-dropdown><span>问题类型</span> <i class="anticon anticon-down"></i></button>
      <ul nz-menu>
        <li nz-menu-item>
          <a>状态1</a>
        </li>
        <li nz-menu-item>
          <a>状态2</a>
        </li>
        <li nz-menu-item>
          <a>状态3</a>
        </li>
      </ul>
    </nz-dropdown>
  </div>
  <div class="area-content mt20">
    <table>
      <tr>
        <td>兰山</td>
        <td>98%</td>
        <td>罗庄</td>
        <td>98%</td>
        <td>河东</td>
        <td>98%</td>
        <td>郯城</td>
        <td>98%</td>
        <td>兰陵</td>
        <td>98%</td>
        <td>临沭</td>
        <td>98%</td>
      </tr>
      <tr>
        <td>沂水</td>
        <td>98%</td>
        <td>沂南</td>
        <td>98%</td>
        <td>平邑</td>
        <td>98%</td>
        <td>费县</td>
        <td>98%</td>
        <td>蒙阴</td>
        <td>98%</td>
        <td>莒南</td>
        <td>98%</td>
      </tr>
    </table>
  </div>
</div>

<!--<div class="common-panel pr mt20">-->
  <!--<div class="home-divider higher"></div>-->
  <!--<div nz-row>-->
    <!--<div nz-col [nzSpan]="12">-->
      <!--<span class="text-secondary pl10">企业问题解决率</span>-->
    <!--</div>-->
    <!--<div nz-col [nzSpan]="12">-->
      <!--<span class="text-secondary pl20">项目问题解决率</span>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div nz-row class="mt40">-->
    <!--<div nz-col [nzSpan]="12">-->
      <!--<div nz-row>-->
        <!--<div nz-col [nzSpan]="10">-->
          <!--<span class="home-block">25%</span>-->
        <!--</div>-->
        <!--<div nz-col [nzSpan]="14">-->
          <!--<div class="flex-box jcsb">-->
            <!--<span>服务业企业</span>-->
            <!--<span class="home-num">18%</span>-->
          <!--</div>-->
          <!--<div class="flex-box jcsb">-->
            <!--<span>工业企业</span>-->
            <!--<span class="home-num">7%</span>-->
          <!--</div>-->
          <!--<div class="flex-box jcsb">-->
            <!--<span>科技型中小企业</span>-->
            <!--<span class="home-num">0%</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div nz-col [nzSpan]="12">-->
      <!--<div nz-row>-->
        <!--<div nz-col [nzSpan]="10">-->
          <!--<span class="home-block">25%</span>-->
        <!--</div>-->
        <!--<div nz-col [nzSpan]="14">-->
          <!--<div class="flex-box jcsb">-->
            <!--<span>服务业企业</span>-->
            <!--<span class="home-num">18%</span>-->
          <!--</div>-->
          <!--<div class="flex-box jcsb">-->
            <!--<span>工业企业</span>-->
            <!--<span class="home-num">7%</span>-->
          <!--</div>-->
          <!--<div class="flex-box jcsb">-->
            <!--<span>科技型中小企业</span>-->
            <!--<span class="home-num">0%</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
