<div class="common-panel">
  <div class="pr">
    <span class="chart-title text-secondary">问题解决率</span>
    <span class="chart-label">解决率</span>
    <div class="home-chart" id="home-use"></div>
  </div>
  <div class="df pr">
    <div class="flex-col">
      <span class="text-secondary">提交问题件数</span>
      <span class="text-theme f40">102</span>
    </div>
    <div class="home-divider"></div>
    <div class="flex-col">
      <span class="text-secondary">处理问题件数</span>
      <span class="text-theme f40">26</span>
    </div>
  </div>
</div>
<div class="common-panel pr mt20">
  <div class="home-divider higher"></div>
  <div nz-row>
    <div nz-col [nzSpan]="12">
      <span class="text-secondary pl10">企业问题解决率</span>
    </div>
    <div nz-col [nzSpan]="12">
      <span class="text-secondary pl20">项目问题解决率</span>
    </div>
  </div>
  <div nz-row class="mt40">
    <div nz-col [nzSpan]="12">
      <div nz-row>
        <div nz-col [nzSpan]="10">
          <span class="home-block">25%</span>
        </div>
        <div nz-col [nzSpan]="14">
          <div class="flex-box jcsb">
            <span>服务业企业</span>
            <span class="home-num">18%</span>
          </div>
          <div class="flex-box jcsb">
            <span>工业企业</span>
            <span class="home-num">7%</span>
          </div>
          <div class="flex-box jcsb">
            <span>科技型中小企业</span>
            <span class="home-num">0%</span>
          </div>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="12">
      <div nz-row>
        <div nz-col [nzSpan]="10">
          <span class="home-block">25%</span>
        </div>
        <div nz-col [nzSpan]="14">
          <div class="flex-box jcsb">
            <span>服务业企业</span>
            <span class="home-num">18%</span>
          </div>
          <div class="flex-box jcsb">
            <span>工业企业</span>
            <span class="home-num">7%</span>
          </div>
          <div class="flex-box jcsb">
            <span>科技型中小企业</span>
            <span class="home-num">0%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
