<div class="login-box">
  <form [formGroup]="form" class="login-body">
    <input type="text" name="username" hidden>
    <input type="password" name="password" hidden>
    <nz-form-item nzFlex>
      <nz-form-label [nzSpan]="6">用户名</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input id="login-name" type="text" nz-input formControlName="loginname" placeholder="请输入用户名" (keyup.enter)="login()">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
      <nz-form-label [nzSpan]="6">手机号</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input type="text" nz-input formControlName="mobile" placeholder="请输入手机号" (keyup.enter)="login()">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
      <nz-form-label [nzSpan]="6">手机验证码</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <div class="flex-box">
          <input class="w mr30" type="text" nz-input formControlName="vcode" placeholder="请输入手机验证码" (keyup.enter)="login()">
          <button class="fb150" type="button" nz-button (click)="sendVcode()">{{vcodeBtnText}}</button>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
      <nz-form-label [nzSpan]="6">图形验证码</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <div class="flex-box">
          <input class="w mr30" type="text" nz-input formControlName="ivcode" placeholder="请输入图形验证码" (keyup.enter)="login()">
          <span class="fb150">图形验证码</span>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
      <nz-form-control>
        <label nz-checkbox formControlName="read">
          <span>我同意并已阅读<a>《统一登录协议》</a></span>
        </label>
      </nz-form-control>
    </nz-form-item>
    <div class="login-button">
      <button class="w" type="button" nz-button [nzType]="'primary'" (click)="login()">登录</button>
    </div>
  </form>
</div>
