<div class="login-box">
  <form [formGroup]="form">
    <div class="login-header">
      <div class="header-item" [class.active]="this.loginType === 1" (click)="switchLoginType(1)">
        <div class="top-flag"></div>
        账号登录
      </div>
      <!--<div class="header-item" [class.active]="this.loginType === 2" (click)="switchLoginType(2)">-->
        <!--<div class="top-flag"></div>-->
        <!--快捷登录-->
      <!--</div>-->
    </div>
    <div class="login-body">
      <div class="login-input-container" [hidden]="loginType !== 1">
        <input id="login-name" type="text" formControlName="loginname" #loginname (keyup.enter)="login()">
        <i class="anticon anticon-user login-prefix"></i>
        <i class="anticon anticon-close-circle login-suffix vh" (click)="clearValue('loginname', loginname)"></i>
      </div>
      <div class="login-input-container" [hidden]="loginType !== 2">
        <input type="text" formControlName="mobile" #mobile>
        <i class="anticon anticon-tablet login-prefix"></i>
        <i class="anticon anticon-close-circle login-suffix vh" (click)="clearValue('mobile', mobile)"></i>
      </div>
      <div class="login-input-container" [hidden]="loginType !== 1">
        <input type="password" formControlName="password" [hidden]="showPassword" [value]="$('password')" #password (keyup.enter)="login()">
        <input type="text" formControlName="password" [hidden]="!showPassword" [value]="$('password')" #passwordt (keyup.enter)="login()">
        <i class="anticon anticon-lock login-prefix"></i>
        <i class="anticon anticon-eye login-suffix vh" *ngIf="!showPassword" (click)="showPassword = !showPassword;"></i>
        <i class="anticon anticon-eye-o login-suffix vh" *ngIf="showPassword" (click)="showPassword = !showPassword;"></i>
        <i class="anticon anticon-close-circle login-suffix-second vh" (click)="clearValue('password', password, passwordt)"></i>
      </div>
      <div class="login-input-container" [hidden]="loginType !== 2">
        <input type="text" formControlName="validatorcode" #validatorcode (keyup.enter)="login()">
        <i class="anticon anticon-key login-prefix"></i>
        <i class="anticon anticon-close-circle login-suffix-third vh" (click)="clearValue('validatorcode', validatorcode)"></i>
        <button type="button" nz-button class="valid-btn" (click)="sendVcode()" [disabled]="vcodeBtnDisabled">{{vcodeBtnText}}</button>
      </div>
      <div class="login-valid" [hidden]="!showSlider || loginType !== 1">
        <div id="login-slider-valid" class="slider"></div>
      </div>
      <div class="login-remember">
        <div>
          <label nz-checkbox formControlName="remember">
            <span class="text-999">一周内记住我</span>
          </label>
        </div>
        <div>
          <span class="text-999 cp f12" (click)="forget()">忘记密码</span>
        </div>
      </div>
      <div class="login-button">
        <button class="w" type="button" nz-button [nzType]="'primary'" (click)="login()">登录</button>
      </div>
    </div>
  </form>
</div>
