<div class="common-page">
  <div class="f22">项目经济数据</div>
  <div class="mt20" nz-row [nzGutter]="10">
    <div nz-col [nzSpan]="6">
      <nz-range-picker class="w" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></nz-range-picker>
    </div>
    <div nz-col [nzOffset]="12" [nzSpan]="2">
      <button class="w" nz-button [nzType]="'primary'">查询</button>
    </div>
    <div nz-col [nzSpan]="2">
      <button class="w" nz-button [nzType]="'primary'">下载模板</button>
    </div>
    <div nz-col [nzSpan]="2">
      <button class="w" nz-button [nzType]="'primary'">导入</button>
    </div>
  </div>
  <div class="mt20">
    <app-economic-table></app-economic-table>
  </div>
</div>
