@import "vars";
@menu-width: 250px;
.wh {
  width: 100%;
  height: 100%;
}
.content-base {
  position: absolute;
  background-color: #fff;
}
.main {
  background-color: @color-background;
  .wh;
  position: relative;
  .main-header-info {
    line-height: 80px;
    height: 80px;
    border-bottom: 2px solid @primary-color;
  }
  .main-box {
    .wh;
    //min-height: 650px;
  }
  .main-header-box {
    height: 100px;
    background-color: @color-main;
  }
  .menu-box {
    height: 760px;
    min-height: 760px;
    border-right: 1px solid @color-main;
    width: @menu-width;
    .content-base;
    left: 50px;
    top: 80px;
    li {
      &.menu-second {
        padding-left: 54px !important;
      }
      .main-icon-right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 12px;
      }
    }
  }
  .main-content {
    .content-base;
    padding: 30px;
    left: e("calc(250px + 50px)"); // @menu-width
    top: 80px;
    border-left: 1px solid @primary-color;
    margin-left: -1px;
    //min-height: 600px;
    .main-breadcrumb {
      margin-left: 15px;
    }
  }
}
@media screen and (max-width: 1510px) {
  .main-content {
    width: e("calc(1510px - (250px + 100px))"); // @menu-width
  }
}
@media screen and (min-width: 1510px) {
  .main-content {
    width: e("calc(100vw - (250px + 100px))"); // @menu-width
  }
}
@media screen and (max-height: 810px){
  .menu-box, .main-content {
    min-height: e("calc(810px - (50px))");
  }
}@media screen and (min-height: 810px){
  .menu-box, .main-content {
    min-height: e("calc(100vh - (50px))");
  }
}

.common-gov-tabs {
  .ant-tabs-nav {
    height: 44px;
    width: 100%;
  }
  .ant-tabs-bar {
    border-bottom: 1px solid @primary-color;
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
    height: 45px;
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    background: @color-background;
    padding: 0 56px;
    line-height: 43px;
    font-size: 16px;
    color: @text-main;
    &.ant-tabs-tab-active {
      color: #fff;
      background: @primary-color;
      z-index: 10!important;
    }
  }
}
.login-page-body {
  .login-box {
    width: 330px;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid @color-border;
    border-radius: @border-radius;
    background-color: @gray-1;
    box-shadow: 0 3px 3px 0 @color-border;
  }
}
