@import "vars";
@border-left: 1px solid @color-border;
/* 通用的弹性盒布局样式抽取 */
.flex-box {
  display: flex!important;
  flex-direction: row;
  align-items: center;
}
.jcfe {
  justify-content: flex-end;
}
.jcfs {
  justify-content: flex-start;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.common-page {
  padding: 20px 15px;
  .common-header-box {
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid rgb(242,242,242);
  }
  .common-content-box {

  }
}
.common-panel {
  border-radius: @border-radius;
  border: 1px solid @color-border;
  padding: 10px 15px;
  box-shadow: 0 3px 3px 0 @color-border;
  //&:hover {
  //  box-shadow: 0 3px 3px 0 @primary-color;
  //}
}

.border-left {
  border-left: @border-left;
}

.shape-diamond {
  display: inline-block;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  background-color: @gray-1;
}
