<div class="common-page">
  <div class="f22">问题详情</div>
  <div class="question-detail-content mt20">
    <div class="title">企业基础信息</div>
    <div class="base mt20">
      <table>
        <tr>
          <td>组织机构代码</td>
          <td>{{questionResult?.company?.organizationcode}}</td>
          <td>社会信用证编号</td>
          <td>{{questionResult?.company?.socialcreditnumber}}</td>
        </tr>
        <tr>
          <td>法人代表</td>
          <td>{{questionResult?.company?.lawperson}}</td>
          <td>控股情况</td>
          <td>{{questionResult?.company?.enterpriseholding}}</td>
        </tr>
        <tr>
          <td>注册地址</td>
          <td>{{questionResult?.company?.registeredadress}}</td>
          <td>注册资本（万元）</td>
          <td>{{questionResult?.company?.registeredcapital}}</td>
        </tr>
        <tr>
          <td>经营地址</td>
          <td>{{questionResult?.company?.businessaddress}}</td>
          <td>主要业务活动</td>
          <td>{{questionResult?.company?.majoractivities}}</td>
        </tr>
      </table>
    </div>
    <div class="title">问题信息</div>
    <div class="info mt20">
      <table>
        <tr>
          <td>内容</td>
          <td>{{questionResult?.question?.content}}</td>
        </tr>
        <tr>
          <td>附件</td>
          <td><a>查看附件</a></td>
        </tr>
      </table>
    </div>
    <div class="title">答复</div>
    <div class="mt20" *ngFor="let reply of questionResult?.replylist">
      <div>
        {{reply.replycomment}}
      </div>
      <div>
        <span>日期：{{reply.replydate}}</span>
        <span>部门：{{reply.replydept}}</span>
        <span>姓名：{{reply.replyperson}}</span>
      </div>
    </div>
    <div>
      <nz-select nzPlaceHolder="切换角色" class="w240" [(ngModel)]="role" (ngModelChange)="changeTestRole($event)">
        <nz-option [nzValue]="0" [nzLabel]="'市领导'"></nz-option>
        <nz-option [nzValue]="1" [nzLabel]="'市政企'"></nz-option>
        <nz-option [nzValue]="2" [nzLabel]="'市专班'"></nz-option>
        <nz-option [nzValue]="3" [nzLabel]="'区县专班'"></nz-option>
        <nz-option [nzValue]="4" [nzLabel]="'乡镇专班'"></nz-option>
        <nz-option [nzValue]="5" [nzLabel]="'市部门'"></nz-option>
        <nz-option [nzValue]="6" [nzLabel]="'区县部门'"></nz-option>
        <nz-option [nzValue]="7" [nzLabel]="'企业'"></nz-option>
        <nz-option [nzValue]="9" [nzLabel]="'admin'"></nz-option>
      </nz-select>
      <nz-select nzPlaceHolder="切换问题状态" class="w240" [(ngModel)]="status" (ngModelChange)="changeTestQuestionStatus($event)">
        <nz-option [nzValue]="'WT01'" [nzLabel]="'已提交'"></nz-option>
        <nz-option [nzValue]="'WT02'" [nzLabel]="'办理中'"></nz-option>
        <nz-option [nzValue]="'WT03'" [nzLabel]="'已办结'"></nz-option>
        <nz-option [nzValue]="'WT04'" [nzLabel]="'退回'"></nz-option>
        <nz-option [nzValue]="'WT05'" [nzLabel]="'申请撤回'"></nz-option>
        <nz-option [nzValue]="'WT06'" [nzLabel]="'已撤回'"></nz-option>
      </nz-select>
      <nz-select nzPlaceHolder="切换回复状态" class="w240" [(ngModel)]="replyStatus" (ngModelChange)="changeTestReplyStatus($event)">
        <nz-option [nzValue]="'0000'" [nzLabel]="'待处理'"></nz-option>
        <nz-option [nzValue]="'9999'" [nzLabel]="'已办结'"></nz-option>
        <nz-option [nzValue]="'HF10'" [nzLabel]="'乡镇审批通过'"></nz-option>
        <nz-option [nzValue]="'HF11'" [nzLabel]="'乡镇退回'"></nz-option>
        <nz-option [nzValue]="'HF20'" [nzLabel]="'区县本级处理'"></nz-option>
        <nz-option [nzValue]="'HF21'" [nzLabel]="'区县上级处理'"></nz-option>
        <nz-option [nzValue]="'HF22'" [nzLabel]="'区县下级处理'"></nz-option>
        <nz-option [nzValue]="'HF30'" [nzLabel]="'区县部门已接收'"></nz-option>
        <nz-option [nzValue]="'HF31'" [nzLabel]="'区县部门退回'"></nz-option>
        <nz-option [nzValue]="'HF40'" [nzLabel]="'市专班本级处理'"></nz-option>
        <nz-option [nzValue]="'HF41'" [nzLabel]="'市专班上级处理'"></nz-option>
        <nz-option [nzValue]="'HF42'" [nzLabel]="'市专班下级处理'"></nz-option>
        <nz-option [nzValue]="'HF50'" [nzLabel]="'市部门已接收'"></nz-option>
        <nz-option [nzValue]="'HF51'" [nzLabel]="'市部门退回'"></nz-option>
        <nz-option [nzValue]="'HF60'" [nzLabel]="'市政通退回'"></nz-option>
      </nz-select>
    </div>
    <div class="mt20" *ngIf="status === 'WT01' || status === 'WT02' || status === 'WT05'">
      <!--问题状态：办理中 或者 已提交 或者 申请撤回-->
      <nz-radio-group [(ngModel)]="changeReplyStatus">
        <!--问题状态：已提交 此时只能由乡镇处理-->
        <ng-container *ngIf="status === 'WT01'">
          <ng-container *ngIf="role === 4 && replyStatus === '0000'">
            <label nz-radio [nzValue]="'HF10'">审核通过</label>
            <label nz-radio [nzValue]="'HF11'">退回</label>
          </ng-container>
        </ng-container>
        <!--问题状态：办理中-->
        <ng-container *ngIf="status === 'WT02'">
          <!--乡镇处理问题-->
          <ng-container *ngIf="(role === 4 && replyStatus === 'HF22') || (role === 1 && replyStatus === '0000')">
              <label nz-radio [nzValue]="'9999'">办结</label>
              <label nz-radio [nzValue]="role === 4 ? 'HF11' : 'HF60'">退回</label>
          </ng-container>
          <!--区县/市专班处理-->
          <ng-container *ngIf="(role === 3 || role === 2) && replyStatus === '0000'">
              <label nz-radio [nzValue]="role === 3 ? 'HF20' : 'HF40'">本级处理</label>
              <label nz-radio [nzValue]="role === 3 ? 'HF22' : 'HF42'">返回下级</label>
              <label nz-radio [nzValue]="role === 3 ? 'HF21' : 'HF41'">提报上级</label>
          </ng-container>
          <!--部门处理 5 表示市部门 6 表示区县部门-->
          <ng-container *ngIf="role === 5 || role === 6">
            <ng-container *ngIf="replyStatus === '0000'">
              <label nz-radio [nzValue]="role === 6 ? 'HF30' : 'HF50'">接受问题</label>
              <label nz-radio [nzValue]="role === 6 ? 'HF31' : 'HF51'">退回</label>
            </ng-container>
            <ng-container *ngIf="replyStatus === 'HF30'">
              <label nz-radio [nzValue]="'9999'">办结</label>
              <label nz-radio [nzValue]="role === 6 ? 'HF31' : 'HF51'">退回</label>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="status === 'WT05'">
          <ng-container *ngIf="role === 9">
            <label nz-radio [nzValue]="'1'">同意撤回</label>
            <label nz-radio [nzValue]="'0'">拒绝撤回</label>
          </ng-container>
        </ng-container>
      </nz-radio-group>
      <!--问题状态：WT03 WT04 WT06 不可以操作的状态-->
      <!--<ng-container *ngIf="status === 'WT03' || status === 'WT04' || status === 'WT06'">-->
      <!--</ng-container>-->
    </div>
    <div class="mt20" *ngIf="(role === 3 || role === 2) && (changeReplyStatus === 'HF20' || changeReplyStatus === 'HF40')">
      选择部门：
      <nz-select nzPlaceHolder="切换角色" class="w240" [(ngModel)]="deptList" [nzMode]="'multiple'">
        <!--<nz-option [nzValue]="1" [nzLabel]="'企业人员1'"></nz-option>-->
        <nz-option *ngFor="let option of allDeptList" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
      </nz-select>
    </div>
    <div class="mt20" *ngIf="(role === 3 || role === 2) && trimList().length > 1 && (changeReplyStatus === 'HF20' || changeReplyStatus === 'HF40')">
      选择牵头部门：
      <nz-select nzPlaceHolder="切换角色" class="w240" [(ngModel)]="headDept">
        <!--<nz-option [nzValue]="1" [nzLabel]="'企业人员1'"></nz-option>-->
        <nz-option *ngFor="let option of getParentList()" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
      </nz-select>
    </div>
    <div class="mt20" nz-row>
      <div nz-col [nzSpan]="24" class="flex-box">
        <span class="fb100">说明：</span><textarea class="w" nz-input placeholder="" [nzAutosize]="{ minRows: 2, maxRows: 6 }" [(ngModel)]="description"></textarea>
      </div>
    </div>
    <div class="mt20 tac">
      <button nz-button [nzType]="'primary'" (click)="submit()">提交</button>
      <button nz-button (click)="back();">返回</button>
    </div>
  </div>
</div>
